API.REST.PHP/.phpunit.cache
API.REST.PHP/node_modules
API.REST.PHP/public/build
API.REST.PHP/public/hot
API.REST.PHP/public/storage
API.REST.PHP/storage/*.key
API.REST.PHP/storage/pail
API.REST.PHP/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
